* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

.primary-btn {
    padding: 21px 26px;
    font-weight: 600;
    font-size: 20px;
    color: #6522b6;
    border-radius: 5px;
    border: 0;
}

.primary-colour {
    color: orange;

}

.right-sin {
    color: #05ffff;
}

/* Header and nav section */
.header {
    background-image: url(../images/banner/banner3.png);


    background-repeat: no-repeat;
    width: 1400px;
    height: 808px;
}

nav {
    padding-top: 216px;
    padding-right: 845px;
    padding-left: 90px;






}

.nav-title {
    color: #6522b6;
    font-size: 65px;

    margin-bottom: 24px;

}

.nav-description {
    color: #ffffff;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;
}
/* Main  */
main {}

.section {
    display: flex;
    padding-top: 131px;
    padding-right: 300px;
    padding-left: 206px;
    padding-bottom: 130px;
    align-items: center;



}

.section-content {
    margin-left: 30px;

}

.section-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;

}

.section-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.sub-description{
    line-height: 30px;
}

/*  MY Plan */
.plan-titel {
    text-align: center;
}

.plan-content {
    padding-left: 230px;
    padding-right: 230px;
    display: flex;
    gap: 86px;
    margin-top: 50px;
}

.content-name {
    margin-top: 24px;
    font-weight: 700;
    font-size: 20px;
    color: #151414;
}

.content-description {
    margin-top: 20px;
    color: #737272;
}

/* Using gradiant */

.grid-content {
    margin-top: 130px;
    padding-left: 230px;
    padding-right: 230px;



}

.gradian-use {
    background-image: linear-gradient(to right, rgba(241, 9, 9, 0.52), rgba(169, 230, 201, 0.73)), url('../images/watch.png');
    width: 850px;
    height: 250px;
    border: 0px;

}

.gra-title {
    padding-top: 65px;
    padding-left: 63px;
}

.sub-title {
    margin-bottom: 17px;
    color: #FFFFFF;

}

/* Footer */
.footer {
    display: flex;
    margin-top: 130px;
    background-color: rgb(0, 0, 0);
    padding-top: 130px;
    padding-left: 180px;
    gap: 100px;
    
    
}

.future-footer {
    color: #F8F8F8;
    width: 1600px;
    Height: 500px;


}

.future-title {
    color: #F8F8F8;
    margin-bottom: 16px;
}

.future-description {
    color: #F8F8F8;
    margin-bottom: 24px;
}

.email-part {
    margin-bottom: 16px;

}

.phone-part {
    margin-bottom: 32px;


}

.image-container {
    display: flex;
    gap: 24px;

}

.subcribe-footer {
    padding-right: 230px;

}
/* Subcribe part */
.sub-title{
    margin-bottom: 31px;
    
}
input{
    
   padding: 20px;
   border-radius: 5px;
   border: 1px solid #FFFFFF ;
   background-color: #151414;
  margin-bottom:16px ;
   

}


